extends layout

block content
  center
      h1= title
      h3 Welcome to #{title}
      p Do you wanna add some points?
      form(action="/point/add",method="POST",style="width:400px;")
           div(id="googleMap",style="width:100%;height:300px")
           input(type="text",placeholder="lat", name="lat",id='lat',hidden)
           input(type="text",placeholder="lng", name="lng", id='lng',hidden)
           input(type="text",placeholder="Road", name="road",style="width:27%")
           input(type="number",placeholder="Km", name="km",style="width:27%")
           input(type="number",placeholder="Rate", name="rate",style="width:27%")
           button(type="submit",style="width:10%") Add
      p Here, have a point list!
      each point in points
        div(style="width:80%") <b>Latitude:</b> #{point.location.lat} <b>Longitude:</b> #{point.location.lon} <b>Road:</b> #{point.road} <b>Km:</b> #{point.km} <b>Rate:</b> #{point.rate}
  script(src='/javascripts/index.js')
